@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Тестовое задание по C#</h1>
    <p>
        Написать веб-приложение на C#, ведущее учет коммутаторов. Программа должна давать возможность создавать/редактировать/удалять коммутаторы, просматривать список всех коммутаторов, а также иметь простой и расширенный фильтры поиска. Перелистывание страниц при просмотре списка коммутаторов должно быть реализовано на сервере. Обязательная валидация редактируемых атрибутов как на сервере, так и на клиенте.
    </p>
</div>
