@model TestTask_25_01_22.Models.SwitchDevice

@{
    ViewData["Title"] = "Edit";
}

<h1>Редактирование</h1>

<h4>Коммутаторы</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ModelName" class="control-label"></label>
                <input asp-for="ModelName" class="form-control" />
                <span asp-validation-for="ModelName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ipv4" class="control-label"></label>
                <input asp-for="Ipv4" class="form-control" onblur="CheckIp(this.value)" />
                <span asp-validation-for="Ipv4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mac" class="control-label"></label>
                <input asp-for="Mac" class="form-control"  />
                <span asp-validation-for="Mac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MainVlan" class="control-label"></label>
                <input asp-for="MainVlan" class="form-control" onblur="CheckIp(this.value)" />
                <span asp-validation-for="MainVlan" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="SerialNumber" />
            <div class="form-group">
                <label asp-for="InventoryNumber" class="control-label"></label>
                <input asp-for="InventoryNumber" class="form-control" />
                <span asp-validation-for="InventoryNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurchaseDate" class="control-label"></label>
                <input asp-for="PurchaseDate" class="form-control" max="@ViewBag.CurrentDate" />
                <span asp-validation-for="PurchaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstallationDate" class="control-label"></label>
                <input asp-for="InstallationDate" class="form-control" max="@ViewBag.CurrentDate" />
                <span asp-validation-for="InstallationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stage" class="control-label"></label>
                <input asp-for="Stage" class="form-control" />
                <span asp-validation-for="Stage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input id="saveBtn" type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script type="text/javascript">
        function CheckIp(ip) {
            if (ip) {
                let ipArray = ip.split(".");
                for (i in ipArray) {
                    if (ipArray[i] != "" && (parseInt(ipArray[i]) > 255 || parseInt(ipArray[i]) < 1)) {
                        alert('Неверный ip-адрес')
                        document.getElementById('saveBtn').disabled = true
                        return
                    }
                }
                document.getElementById('saveBtn').disabled = false
            }
        }
    </script>

}
